.form
{
    padding-left: 37%;
   
}

.image{
  background-image: url('245118-tuolumne-river-county-california-united-states-4k-ultra-hd.jpg');
    /* height: 100%;
    width: 100%;*/
    
} 

